<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link rel="stylesheet" href="/css/style.css" type="text/css" />
	<title>Discover Your Inner Animal</title>
	<script src="/js/view.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
	<link rel="stylesheet" href="./css/style.css" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>

<body>
	<nav>
		<div class="nav-wrapper">
			<a href="./index.html" class="brand-logo" id="brand-logo">Discover Your Own Animal</a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material">Parks</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="./main.handlebarsFINAL.html">Home</a></li>
				<li><a href="./Questions.html">Questions</a></li>
				<li><a href="./Results.HTML">Results</a></li>
				<li><a href="./RecordRecentAnimals.html">Recent Animals</a></li>
				</li>
			</ul>
		</div>
	</nav>
	{{{ body }}}
	<!-- <button id = "button" >Start</button> -->
	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col l6 s812">
					<h5 class="white-text">Contact Information</h5>
					<p class="grey-text text-lighten-4">
						Write or call Tyler Team #2 if you have questions or comments on this application!
					</p>
					<i class="material-icons">contact_mail</i>
					<div class="vcard">
						<div class="mailing-address" itemscope="" itemtype="http://schema.org/Place">
							<div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
								<p class="adr">
									<span itemprop="streetAddress" class="street-address">
										Downtown Denver
									</span>
									<br />
									<span><span itemprop="addressLocality">Denver</span>,
										<span itemprop="addressRegion" class="region">CO</span>
										<span itemprop="postalCode" class="postal-code">81330
										</span>
									</span>
								</p>
							</div>
						</div>
					</div>
					<br />
					<i class="material-icons">contact_phone</i>
					<p><span itemprop="telephone" class="tel"> 970-529-4465</span></p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">Pages</h5>
					<ul>
						<li>
							<a class="grey-text text-lighten-3" href="./main.handlebarsFINAL.html">Home</a>
						</li>
						<li>
							<a class="grey-text text-lighten-3" href="./Questions.html">Questions</a>
						</li>
						<li>
							<a class="grey-text text-lighten-3" href="./Results.HTML">Results</a>
						</li>
						<li>
							<a class="grey-text text-lighten-3" href="./RecordRecentAnimals.html">Recent Animals</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="footer-copyright">
			<div class="container">
				© 2021 Copyright | Tyler Team #2

			</div>
		</div>
	</footer>
</body>

</html>