<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/public/css/styles.css" type="text/css" />
		<title>Discover Your Inner Animal</title>
		<script src="/public/js/view.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
