<div class="containerInfo1">
    <div class="row">
      <div class="mobileStack1">
        <div class="col s12 l6 containerI">
          
          <div id="infotitle">User Information</div>
          Please put in Information
          <br />
          <br />
          The 
        </div>
        </div>
    </div>
  </div> 
  <div class="containerInfo">
    <div class="row">
      <div class="mobileStack">
        <div class="col s12 l6 containerI">
          
          <div id="infotitle">App Description</div>
          Whatever
          <br />
          <br />
          The 
        </div>
        </div>
    </div>
  </div>
  <button id = "button" class = "radio">Start</button>
  <br>
  <!-- <button id = "button" >Start</button> -->

