<head>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<img id="mainPhoto" src="inner-animal.jpg" alt="half human half jaguar image">
<div class="mainDescription">
  <p id="descTitle">Discover your Animal</p>
  <p>
    Discover Your Animal Personality Test: What Animal Do You Think You Are?
    This planet and the animal kingdom is made up of hunters and the hunted. The human race is no different, we are the
    same. While humans may not literally tear each other apart, they do so in other ways with their words and actions. A
    person either gets ripped apart or you do the ripping. Your animal personality says a lot about who you are as a
    person.
    By taking this quiz, you will open up some of your inner traits. You might be surprised by what your animal
    personality
    truly is. Every animal has its strengths and weaknesses. Once you learn your animal identity, learn to work with
    those
    strengths that you have and where you sit within the food chain.

    By learning more about yourself, it will help you with interactions at home, the office, at a party or wherever else
    you
    may find yourself. You will be better prepared to handle all situations in life, such as family challenges, getting
    ahead at work, or making your social life much more rewarding.

    Finding out more about yourself is definitely a positive step, but you also need to find out about the people you
    interact with every day. What is your boss or co-workers traits? Answer the quiz the way they would answer it. Get
    to
    know more about these people by taking the animal personality test with them in mind. And use it to your advantage!

    We hope you find this experience rewarding and informational. By taking this quiz, the list of benefits goes on and
    on.
    And it is a lot of fun!

    How It Works
    You will be asked to answer 3 different questions. Each individual question will be scored based on your answer and
    then
    combined to give you an overall profile specifically related to an animal.</p>
</div>
<br>
<br>
<br>
<br>
<button id="button" class="start"><a href= "/api/questions">Start</a></button>
<br>