<h1>database info</h1>

<ul>
    {{#each animalObj}}
    <li>{{this.name}}<button sqlid="{{this.id}}" id="">Restart</button> </li>
    </li>
    {{/each}}
</ul>


<h2>questions header</h2>
{{#each animalObj}}
<p>{{this.q_1}} </p>
{{/each}}
<p>A <input type="radio" id="30" name="answer"></p>
<p>B <input type="radio" id="20" name="answer"></p>
<p>C <input type="radio" id="10" name="answer"></p>
<button>Submit</button>