<h2>questions header</h2>
{{#each animalObj}}
<p>{{this.q_1}} </p>
{{/each}}

<form action="#">
    <div class="resultscore1">
        <label>
            <input type="radio" name="ques1"  value=30 /> A
            <br>
            <input type="radio" name="ques1" value=20 /> B
            <br>
            <input type="radio" name="ques1" value=10 /> C
        </label>
    </div>

    {{#each animalObj}}
    <p>{{this.q_2}} </p>
    {{/each}}

    <div class="resultscore2">
        <input class="with-gap" id="#" type="radio" name="ques2" value=30 /> A
            <br>
        <input type="radio" name="ques2" value=20 /> B
            <br>
        <input type="radio" name="ques2" value=10 /> C
    </div>

    {{#each animalObj}}
    <p>{{this.q_3}} </p>
    {{/each}}

    <div class="resultscore3">
        <input type="radio" name="ques3" value=30 /> A
        <br>
        <input type="radio" name="ques3" value=20 /> B
        <br>
        <input type="radio" name="ques3" value=10 /> C
    </div>
</form>

<button id="submit">Submit</button>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    console.log("js script working")
    console.log("-----------------")
    totalScore = [];
    const playerName = "AppPost";
    const submitQ1 = document.getElementById('submit')
    $('.resultscore1 input[type="radio"]').click(function () {
        const answervalue1 = $(this).val();
        submitQ1.addEventListener('click', () => {
            console.log(answervalue1)
            totalScore.push(answervalue1)
        })
    });
    $('.resultscore2 input[type="radio"]').click(function () {
        const answervalue2 = $(this).val();
        submitQ1.addEventListener('click', () => {
            console.log(answervalue2)
            totalScore.push(answervalue2)
        })
    });
    $('.resultscore3 input[type="radio"]').click(function () {
        const answervalue3 = $(this).val();
        submitQ1.addEventListener('click', () => {
            console.log(answervalue3)
            totalScore.push(answervalue3)
            console.log(totalScore)
            console.log(playerName)
            const sum = (numOne, numTwo, numThree) => numOne + numTwo + numThree;
            const addCallBacks = (functionOne) =>
                functionOne(parseInt(totalScore[0]), parseInt(totalScore[1]), parseInt(totalScore[2]));
            let combinedScore = addCallBacks(sum)
            console.log(combinedScore);
            console.log("-------------seperation for fetchpost---------------")
            let dataPost = {
                name: playerName,
                a_1: totalScore[0],
                a_2: totalScore[1],
                a_3: totalScore[2],
                score: combinedScore
            };
            console.log(dataPost)
            fetch(`/api/questions`, {
                method: "POST",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(dataPost)
            }).then(() => {
                // Reload the page
                console.log("post made")
            })
        })
    });
</script>