<div class="row">
  <!-- Pictures of nature pictures below -->
</div>
<section>
  <div class="container" id="Portfolio">
    <div class="row">
      <div class="col-md-12">
        <h1>
          Recent Animals
        </h1>
        <div class="row">
          <div class="col-md-6">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
              alt="Card image cap" />
            <p id="Test">
              Recent Results
            </p>
          </div>
          <div class="col-md-6">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain1.jpg"
              alt="Card image cap" />
            <p id="Test1">
              Recent Results1
            </p>
          </div>
          <div class="row">
            <div class="col-md-6">
              <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain2.jpg"
                alt="Card image cap" />
              <p id="Test2">
                Recent Results2
              </p>
            </div>
            <div class="col-md-6">
              <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                alt="Card image cap" />
              <p id="Test3">
                Recent Results3
              </p>
            </div>
            <div class="row">
              <div class="col-md-6">
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                  alt="Card image cap" />
                <p id="Test4">
                  Recent Results4
                </p>
              </div>
              <!-- Grid column -->
              <div class="col-md-6">
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg"
                  alt="Card image cap" />
                <p id="Test5">
                  Recent Results5
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>