* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* Used to format nav for all three HLML files */
nav {
  font-size: 24px;
  background-color: #0796f6;
  height: 24;
}
/* Specific font for About Me */
section h1 {
  font-size: 50px;
  text-align: center;
}
/* used to style paragragh in About Me */
section p {
  font-size: 25px;
  float: left;
  margin: 150px;
  
}
#Test {
margin-left: 100px;
margin-top: -100px;

}

#Test1 {
  margin-left: 100px;
  margin-top: -100px;
    
  }

  
#Test2 {
  margin-left: 100px;
  margin-top: -100px;
    
  }

    
#Test3 {
  margin-left: 100px;
  margin-top: -100px;
    
  }

    
#Test4 {
  margin-left: 100px;
  margin-top: -100px;
    
  }

  #Test5 {
    margin-left: 100px;
    margin-top: -100px;
      
    }

.card-img-top {
  width: 600px;
  font-size: 55px;
  padding: 25px;
  float: right;
}

/* using to size pictures consistently */
.img-fluid {
  max-width: 100%;
  height: 400px;
  width: 400px;
  margin: 100px;
}

/* highlight my name in top left */
.navbar-brand {
  font-size: 35px;
  background-color: #0cacf7;
  padding: 30px;
}

header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #4c9b87;
  color: #c33e3e;
}

.card {
  margin-top: 50px;
  margin-left: 600px;
  font-size: medium;
}

footer {
  margin-top: 50px;
  padding: 20px;
  background-color: rgb(154, 161, 161);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  text-emphasis: bold;
  font-size: 30px;
  clear: both;
}
/* media query, resize the screen if needed */
@media screen and (max-width: 768px) {
  body {
    background-color: black;
  }

  .wrapper {
    width: 600 px;
  }
}
